.reviews_container {
  max-width: var(--mx-1);
  margin: 0 auto;
  padding: 0 1.5rem;

  .title,
  .subtitle {
    max-width: var(--mx-2);
    width: 100%;
  }

  .title {
    color: var(--white-main);
  }

  .subtitle {
    margin-top: 2rem;
    color: var(--white-tint-1);

    a {
      color: var(--yellow-main);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .reviews_cards {
    margin-top: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }

  @media screen and (max-width: 600px) {
    .reviews_cards {
      grid-gap: 1.5rem;
    }
  }
}
