.error_container {
  padding: 1rem 1.5rem;
  background-color: #ff000027;
  border: 1px solid #ff000051;
  width: max-content;
  border-radius: 0.5rem;

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #d03b3b;
  }
}
