.error_container {
  padding: 1.5rem 2rem;
  background-color: var(--black-tint-2);
  border: 1px solid var(--border-1);
  width: max-content;
  border-radius: 0.5rem;

  p {
    font-size: 1.5rem;
    color: var(--yellow-main);
  }
}
