.home_container {
  max-width: var(--mx-1);
  margin: 0 auto;
  padding: 0 1.5rem;

  .home_content {
    gap: 3rem;

    .title,
    .subtitle {
      max-width: var(--mx-2);
      width: 100%;
    }

    .title {
      color: var(--white-main);
    }

    .subtitle {
      margin-top: 2rem;
      color: var(--white-tint-1);
    }

    .home_image {
      flex: 1;
      gap: 1.5rem;

      .col-1,
      .col-2 {
        gap: 1.5rem;

        .home_image-holder {
          background-color: var(--black-tint-3);
          overflow: hidden;
          aspect-ratio: 1.05;
          z-index: 1;
          border: 1px solid var(--border-2);

          img {
            object-fit: cover;
            transform: scale(1.1);
          }
        }
      }

      .col-1 {
        .home_image-holder {
          &:first-child {
            width: 10rem;
            border-radius: 3rem 3rem 0 3rem;
          }

          &:nth-child(2) {
            border-radius: 3rem 0 0 3rem;
            width: 15rem;
          }

          &:nth-child(3) {
            width: 10rem;
            border-radius: 3rem 0 3rem 3rem;
          }
        }
      }

      .col-2 {
        .home_image-holder {
          &:first-child {
            width: 26.5rem;
            border-radius: 3rem 3rem 3rem 0;
          }

          &:last-child {
            width: 15rem;
            border-radius: 0 3rem 3rem 3rem;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      .home_image {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      .home_image {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem;

        .col-1,
        .col-2 {
          gap: 1rem;
        }

        .col-1 {
          .home_image-holder {
            &:first-child {
              max-width: 10rem;
              width: 100%;
              border-radius: 2rem 2rem 0 2rem;
            }

            &:nth-child(2) {
              max-width: 15rem;
              width: 100%;
              border-radius: 2rem 0 0 2rem;
            }

            &:nth-child(3) {
              max-width: 10rem;
              width: 100%;
              border-radius: 2rem 0 2rem 2rem;
            }
          }
        }

        .col-2 {
          .home_image-holder {
            &:first-child {
              max-width: 26.5rem;
              width: 100%;
              border-radius: 2rem 2rem 2rem 0;
            }

            &:last-child {
              max-width: 15rem;
              width: 100%;
              border-radius: 0 2rem 2rem 2rem;
            }
          }
        }
      }
    }
  }

  .bottom_home-container {
    margin-top: 7rem;
    gap: 5rem;

    .reviews_content {
      flex: 1;

      .clients {
        font-size: 2.5rem;
        color: var(--white-main);
      }

      .reviews_page {
        margin-top: 1.5rem;
        color: var(--yellow-main);
        cursor: var(--pointer);
        width: max-content;

        span {
          font-size: 13px;
        }

        svg {
          font-size: 20px;
          margin-bottom: -0.2rem;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          svg {
            transform: translateX(1rem);
          }
        }
      }
    }

    .form_container {
      max-width: 40rem;
      width: 100%;
      z-index: 2;
    }
  }

  @media screen and (max-width: 800px) {
    .bottom_home-container {
      flex-direction: column;

      .reviews_content {
        gap: 1.5rem;
      }

      .form_container {
        max-width: 100%;
      }
    }
  }
}
