.projects_container {
  .project_container-details {
    padding: 0 1.5rem;
    max-width: var(--mx-1);
    margin: 0 auto;

    .title,
    .subtitle {
      max-width: var(--mx-2);
      width: 100%;
    }

    .title {
      color: var(--white-main);
    }

    .subtitle {
      margin-top: 2rem;
      color: var(--white-tint-1);
    }
  }

  .project_cards {
    margin-top: 7rem;
    padding: 0 1.5rem;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @media screen and (max-width: 600px) {
    .project_cards {
      gap: 1.5rem;
    }
  }
}
