.contact_form {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--border-1);
  gap: 1.5rem;

  h2 {
    color: var(--white-tint-1);
    gap: 1rem;

    svg {
      font-size: 2rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  p {
    font-size: 1.4rem;
    color: var(--white-tint-2);
  }

  form {
    width: 100%;
    gap: 0.8rem;

    .form_holder {
      width: 100%;
      height: max-content;

      .icon {
        top: 50%;
        left: 1.5rem;
        transform: translateY(-50%);

        svg {
          font-size: 2rem;
          color: var(--white-tint-2);
          margin-bottom: -0.3rem;
        }
      }

      input,
      textarea {
        width: 100%;
        background-color: var(--black-tint-3);
        color: var(--white-main);
        font-size: 1.5rem;
        border-radius: 0.3rem;
        border: 1px solid var(--border-2);
        transition: border-color 0.2s ease;

        &:focus {
          border-color: var(--yellow-main);
        }
      }

      input {
        padding: 0 1.5rem 0 4.5rem;
        height: 5rem;
      }

      textarea {
        aspect-ratio: 2;
        padding: 1.5rem;
        resize: none;
      }

      button {
        width: 100%;
        height: 5rem;
        color: var(--white-main);
        background-color: var(--black-main);
        cursor: pointer;
        margin-top: 1rem;
        border-radius: 0.3rem;
        user-select: none;

        span {
          font-size: 1.6rem;
        }

        .go1858758034 {
          width: 1.7rem;
          height: 1.7rem;
          border-color: var(--white-main);
          border-right-color: transparent;
        }
      }

      input,
      textarea,
      button {
        &:disabled {
          cursor: default;
          opacity: 0.5;
        }
      }
    }
  }
}
